body {
	height: 100%;
	width: 100%;
	/*background-color:#191919;*/
	cursor: default;
}
.hided {

}
/*.active {
	display: block;
}*/

.container {
	display: none;/*switch to block*/
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -123px 0 0 -244px;
}

.logo {
	margin-right:62px;
	border: 1px solid #292929;
	border-radius:5px;
	padding:10px;
}

.input_elements { 
	top:0;
	right:auto;
	display:inline-block;
}

.input_name {
	display:block;
	height: 45px;
	width:191px;
	margin-bottom:20px;
	border:1px solid #7e7e7e;
	border-radius:5px;
	text-align:center;
	color:#7e7e7e;
}

.login_btn {
	display:block;
	height: 45px;
	width:191px;
	margin-bottom:20px;
	border-radius:5px;
	border:1px solid #7e7e7e;
	background-color:white;
	cursor: default;
}
.splitter { 
	margin-bottom:30px;
	color:#4c4c4c;
}


.line {
	display:inline-block;
	margin-bottom: 5px;
	background-color:#4c4c4c;
	height:1px;
	width:82px;
}
.login_anonymous {
	left:auto;
	display:block;
	height: 45px;
	width:191px;
	border:1px solid #7e7e7e;
	border-radius:5px;
	background-color:white;
	cursor: default;
}


/*Login page*/
.main_page {
	display: block;
	position: relative;
}


.nav_link {
	display: block;
	width: 150px;
	height: 45px;
	text-decoration: none;
	text-align: center;
	background-color: #323232;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: white;
}
.page_navigate {
	position: relative;
	width: auto;
	height: 50px;
	margin: 0;
	background-color:#191919;
}
.nav_list {
	position: absolute;
	bottom: 0;
	left: auto;
	margin: 0;

}
.nav_list li {
	display: inline-table;
	margin-left: 30px;
}
.ui-state-default{
	display: block;
	width: 150px;
	height: 100%;
	margin-left: 30px;
}

/*Select*/
.select {
	margin: 40px;
	font-size: 18px;
}
.select_type {
	width: 300px;
	height: 42px;
	margin-left: 15px;
	font-size: 18px;
}



/*Form*/

.wrap_form_and_tabs {
	position: relative;
	margin: 5px 40px 20px 40px;
	border: 1px solid #bbbbbb;
	border-radius: 5px;
}

.wrap_form {

	width: 50%;

}


.search_type {
	display: block;
	width: auto;
	height: 52px;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 20px;
	line-height: 2.5;
	font-size: 21px;
}
.search_form {
		position: relative;
}

.row {
	position: relative;
	margin-bottom: 30px;
}
.form_label {
	display: inline-block;
	width: 300px;
}

.input_search0,.input_search1, .input_search2, .input_search3 {

	width: 168px;
	height: 28px;
	border: 1px solid #bbbbbb;
	border-radius: 5px;
}

.input_search0:invalid,.input_search1:invalid,
.input_search2:invalid,.input_search3:invalid {
	border-color: red;
}
.search_btn {
	min-width: 170px;
	min-height: 36px;
	margin-bottom: 10px;
	background-color: #42a8c6;
	border: 1px solid #419db8;
	border-radius: 5px;
	color: white;
	cursor: default;
}

.wrap_tabs {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
}

.tabs_div {
	
}
.tabs_list {
	list-style: none;

}

.tabs_list li {
	display: inline-block;
}

.tab_link {
	width: 78px;
	text-decoration: none;
}







/*Accordion*/
.ui-accordion-header {
	margin: 10px 40px;
	width: auto;
	height: 38px;
	border: 1px solid #dddddd;
	border-radius: 5px;
	color: #1190cf;
}
.ui-accordion-content {

}
.wrap_accordion_content {
	padding: 1.2em;
	margin: 0 40px;
}

.element_table {
	margin-bottom: 56px;
}
.element_table td {
	padding: 5px;
	border: 1px solid #dddddd;
	text-align: center;
	vertical-align: middle;
}

.table_headers {
	font-weight: bold;
}


.delete_btn {
	width: 134px;
	height: 34px;
	background-color: #d14741;
	border: 1px solid #c44741;
	border-radius: 5px;
	color: white;
}

.add_btn {
	width: 134px;
	height: 34px;
	background-color: #f3f3f3;
	border: 1px solid #bbbbbb;
	border-radius: 5px;
}