body {
	height: 100%;
	width: 100%;
	background-color:#191919;
	cursor: default;
}



.container {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -123px 0 0 -244px;
}

.logo {
	margin-right:62px;
	border: 1px solid #292929;
	border-radius:5px;
	padding:10px;
}

.input_elements { 
	top:0;
	right:auto;
	display:inline-block;
}

.input_name {
	display:block;
	height: 45px;
	width:191px;
	margin-bottom:20px;
	border:1px solid #7e7e7e;
	border-radius:5px;
	text-align:center;
	color:#7e7e7e;
}

.login_btn {
	display:block;
	height: 45px;
	width:191px;
	margin-bottom:20px;
	border-radius:5px;
	border:1px solid #7e7e7e;
	background-color:white;
	cursor: default;
}
.splitter { 
	margin-bottom:30px;
	color:#4c4c4c;
}


.line {
	display:inline-block;
	margin-bottom: 5px;
	background-color:#4c4c4c;
	height:1px;
	width:82px;
}
.login_anonymous {
	left:auto;
	display:block;
	height: 45px;
	width:191px;
	border:1px solid #7e7e7e;
	border-radius:5px;
	background-color:white;
	cursor: default;
}

.main_page {
	display: none;
}


.nav_links {
	width: 100%;
	height: 50px;
	background-color:#191919;
}

.links {
	margin: 0 7px;
	padding: 5px 0 0 0 ;
}

.links li {
	display: inline-block;
	margin-left: 30px;
	text-align: center;
	color: white;
}

.nav_link {
	display: block;
	width: 150px;
	height: 45px;
}